<div class="md:max-w-lg mx-auto">
    <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5">เพิ่มข้อมูลธนาคาร</h1>
    <div mat-dialog-content class="max-h-96 overflow-y-auto md:max-h-180">
        <form [formGroup]="addForm">

            <div class="flex flex-row">
                <div class="flex flex-col mx-3 md:flex mb-6 w-full">
                    <div class="md:w-full px-3">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>ชื่อธนาคาร</mat-label>
                            <input matInput [placeholder]="'category.form.enterCategoryName' | transloco"
                                formControlName="name">
                        </mat-form-field>
                    </div>
                    <div class="md:w-full px-3">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>เลขที่บัญชี</mat-label>
                            <input matInput [placeholder]="'category.form.enterCategoryName' | transloco"
                                formControlName="name">
                        </mat-form-field>
                    </div>
                    <div class="md:w-full px-3">
                        <!-- Dropzone when no image URL -->
                        <div class="flex justify-center items-center w-full" *ngIf="!url">
                            <ngx-dropzone class="w-full max-w-md mx-auto border border-dashed rounded-xl p-4"
                                (change)="onSelect($event)">
                                <ngx-dropzone-label class="block text-center text-gray-500">เลือกรูป QR Code</ngx-dropzone-label>
                                <div *ngFor="let d of files" class="mt-4">
                                    <ngx-dropzone-image-preview [file]="d"
                                        class="h-auto max-w-full rounded-lg shadow-md"></ngx-dropzone-image-preview>
                                </div>
                            </ngx-dropzone>
                        </div>

                        <!-- Preview when image URL is available -->
                        <div class="flex justify-center items-center w-full" *ngIf="url">
                            <label class="cursor-pointer flex flex-col items-center gap-2">
                                <input (change)="onChange($event)" type="file" id="file" class="hidden">
                                <img [src]="url" alt="Preview Image"
                                    class="w-full max-w-xs md:max-w-md rounded-lg shadow-md object-contain">
                                <span class="text-sm text-gray-500">Click to change image</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="flex justify-end mt-4">
        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSaveClick()">
            <!-- ตกลง -->
            {{ 'category.form.confirm' | transloco }}
        </button>
        <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onCancelClick()">
            <!-- ยกเลิก -->
            {{ 'category.form.cancel' | transloco }}
        </button>
    </div>
</div>