<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <!-- เพิ่มซัพพลายเออร์ -->
                    {{ 'supplier.add.title' | transloco }}
                </h2>
            </div>
        </div>
    </div>
    <!-- Main -->
    <form [formGroup]="addForm">
        <div class="flex-auto p-6 sm:p-10">
            <div class="grid gap-4 w-full sm:grid-cols-1 md:grid-cols-1">
                <div class="bg-card rounded-2xl md:shadow overflow-hidden px-8 pt-6 pb-8 mb-4 flex flex-col my-2">

                    <!-- Grid แบบ 2 คอลัมน์ -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                  
                      <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>{{ 'supplier.add.nameLabel' | transloco }}</mat-label>
                        <input matInput [formControlName]="'name'" [placeholder]="'กรอกชื่อซัพพลายเออร์'">
                      </mat-form-field>
                  
                      <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>{{ 'supplier.add.taxLabel' | transloco }}</mat-label>
                        <input matInput [formControlName]="'tax'" [placeholder]="'กรอกเลขภาษี'">
                      </mat-form-field>
                  
                      <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>{{ 'supplier.add.emailLabel' | transloco }}</mat-label>
                        <input matInput [formControlName]="'email'" [placeholder]="'กรอกอีเมล'">
                      </mat-form-field>
                  
                      <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>{{ 'supplier.add.phoneLabel' | transloco }}</mat-label>
                        <input matInput [formControlName]="'phone'" [placeholder]="'กรอกเบอร์ติดต่อ'">
                      </mat-form-field>
                  
                      <mat-form-field class="w-full md:col-span-2">
                        <mat-label>{{ 'supplier.add.addressLabel' | transloco }}</mat-label>
                        <textarea matInput formControlName="address" [rows]="5" [placeholder]="'กรอกที่อยู่'"></textarea>
                      </mat-form-field>
                  
                      <mat-form-field class="w-full md:col-span-2">
                        <mat-label>{{ 'supplier.add.detailLabel' | transloco }}</mat-label>
                        <textarea matInput formControlName="detail" [rows]="5" [placeholder]="'กรอกรายละเอียด'"></textarea>
                      </mat-form-field>
                  
                    </div>
                  
                    <!-- ปุ่ม -->
                    <div mat-dialog-actions class="flex justify-end mt-6">
                      <button class="px-6 ml-3" mat-flat-button color="primary" (click)="Submit()">
                        {{ 'supplier.add.submitButton' | transloco }}
                      </button>
                      <button class="px-6 ml-3" mat-flat-button color="warn" (click)="backTo()">
                        {{ 'supplier.add.cancelButton' | transloco }}
                      </button>
                    </div>
                  
                  </div>
                  
            </div>
        </div>
    </form>
</div>